selenium==4.9.1
gdown==5.2.0
term-image==0.7.2
questionary==2.1.0
xdcc-dl==5.2.1
requests==2.32.4
bs4==0.0.2
selenium-wire==5.1.0
blinker==1.7.0
cbz-generator==1.0.0
tqdm==4.67.1
ytmusicapi==1.10.3
streamlink==7.5.0
m3u-ipytv==0.2.11
